<div class="home-container">

    <app-card gameCover="https://m.media-amazon.com/images/I/71XrxGqPosL._AC_UF1000,1000_QL80_.jpg"
        gameLabel="EXCLUSIVE" gameType="DIGITAL PS4" gamePrice="R$ 457,90"></app-card>
    <app-card gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202106/0117/I558OkMNBieAq24dzWwjjE4K.png"
        gameLabel="DIGITAL" gameType="DIGITAL  PS5" gamePrice="R4 249,90"></app-card>
    <app-card gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202208/1718/NFf86jgU4AeVYgJBEoEKBpxW.jpg"
        gameLabel="EXCLUSIVE" gameType="DISC  PS4" gamePrice="R4 369,90"></app-card>
    <app-card
        gameCover="https://cdn1.epicgames.com/b4565296c22549e4830c13bc7506642d/offer/TETRA_PREORDER_STANDARD%20EDITION_EPIC_Store_Portrait_1200x1600-1200x1600-ca8b802ff13813c37a44ebf68d0946a2.png"
        gameLabel="DIGITAL" gameType="DIGITAL  PS4" gamePrice="R4 229,90"></app-card>
    <app-card gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202207/1210/4xJ8XB3bi888QTLZYdl7Oi0s.png"
        gameLabel="EXCLUSIVE" gameType="DISC  PS5" gamePrice="R4 149,90"></app-card>
    <app-card gameCover="https://m.media-amazon.com/images/I/919p6udQG3L.jpg" gameLabel="DIGITAL"
        gameType="DIGITAL  PS4" gamePrice="R4 405,90"></app-card>

</div>